.heatmap {
    .tooltip {
        position: relative;
    }

    .tooltip:hover::after {
        content: attr(data-content);
        white-space: pre;
        position: absolute;
        left: 25px;
        top: 25px;
        padding: 2px;
        width: 200px;
        background-color: #333;
        color: white;
        border-radius: 3px;
        z-index: 2;
    }
}
